[data-darkMode="1"] {
  --page-bg: #121212;
  background: var(--page-bg);
  color: white;
  --text-colour: white;
  --pink1: #F4A8B7;
  --pink2: #F4A8B7;
  --blue1: #5BCDF9;
  --gradient: linear-gradient(90deg, #5BCDF9 0%, #5BCDF9 20%, #F4A8B7 20%, #F4A8B7 40%, #FEFEFE 40%, #FEFEFE 60%, #F4A8B7 60%, #F4A8B7 80%, #5BCDF9 80%, #5BCDF9 100%);
}

[data-darkMode="0"] {
  --page-bg: #f6f6f6;
  background: var(--page-bg);
  color: black;
  --text-colour: black;
  --pink1: #D460A7;
  --pink2: #E4ADCD;
  --blue1: #57CEF8;
  --gradient: linear-gradient(90deg, #D460A7 0%, #D460A7 14.29%, #fff 14.3%, #fff 14.3%, #E4ADCD 14.31%, #E4ADCD 28.49%, #fff 28.5%, #fff 28.5%, #FFF 28.51%, #FFF 42.79%, #fff 42.8%, #57CEF8 42.8%, #57CEF8 57.09%, #FEFEFE 57.1%, #FFF 57.1%, #FFF 57.11%, #FFF 71.39%, #fff 71.4%, #E4ADCD 71.4%, #E4ADCD 85.68%, #E4ADCD 85.69%, #fff 85.7%, #fff 85.7%, #D460A7 85.71%, #D460A7 100%);
}

.center-text {
  grid-column: span 12;
  text-align: center;
}

.align-right {
  text-align: right;
}

.large-text {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.normal-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.small-text {
  font-family: Red Hat Text;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.color-grey {
  color: var(--grey);
}

.span-1 {
  grid-column: 1/span 1;
}

.span-2 {
  grid-column: 1/span 2;
}

.span-3 {
  grid-column: 1/span 3;
}

.span-4 {
  grid-column: 1/span 4;
}

.span-5 {
  grid-column: 1/span 5;
}

.span-6 {
  grid-column: 1/span 6;
}

.span-7 {
  grid-column: 1/span 7;
}

.span-8 {
  grid-column: 1/span 8;
}

.span-9 {
  grid-column: 1/span 9;
}

.span-10 {
  grid-column: 1/span 10;
}

.span-11 {
  grid-column: 1/span 11;
}

.span-12 {
  grid-column: 1/span 12;
}

.subgrid {
  display: grid;
  grid-template-columns: subgrid;
  grid-auto-rows: min-content;
}

.grid-start-1 {
  grid-column-start: 1;
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

body {
  --grey: #808080;
  font-family: "Red Hat Text", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  display: grid;
  margin: 0;
  grid-template-columns: repeat(12, 1fr);
}

main, footer, header {
  box-sizing: border-box;
  --page-padding: 150px;
  padding: 0 var(--page-padding);
}

header {
  position: sticky;
  grid-column: span 12;
  width: 100%;
  z-index: 1000;
  top: 0;
}
header .navbar-collapse {
  --element-padding: 2rem;
  visibility: hidden;
  position: absolute;
  right: calc(var(--page-padding) - var(--element-padding));
  margin-top: calc(70px - var(--element-padding));
  pointer-events: none;
  background: var(--page-bg);
  border: 1px solid var(--text-colour);
  padding: var(--element-padding);
  width: 350px;
  z-index: 2;
  opacity: 0;
  transition: 100ms visibility, 200ms opacity;
}
header .show {
  opacity: 1;
  visibility: visible;
}
header .navbar-toggler {
  z-index: 3;
  position: absolute;
  right: var(--page-padding);
  background: transparent;
  border: none;
  margin-top: 50px;
  cursor: pointer;
}
header .navbar-nav {
  margin: 0;
  padding: 0;
}
header svg {
  fill: var(--text-colour);
}
header li::marker {
  content: "";
}
header a {
  position: relative;
  pointer-events: initial;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
  color: var(--text-colour);
}
header a:hover {
  text-decoration: underline;
}
header li {
  margin-bottom: 1rem;
}
header [aria-expanded=true] svg path:first-child {
  rotate: 45deg;
  translate: 20% -42%;
}
header [aria-expanded=true] svg path:last-child {
  translate: 115% 30%;
  rotate: 135deg;
}

path {
  transition: 300ms;
}

#BackToTop {
  position: relative;
}
#BackToTop .hero {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#BackToTop .hero > * {
  width: 100%;
  text-align: center;
}
#BackToTop .hero * {
  margin: 0;
}
#BackToTop .hero *:not(.normal-text) {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 300;
  display: inline-block;
  font-size: 80px;
  text-transform: uppercase;
  line-height: normal;
}

.currently-doing {
  position: relative;
  background: var(--page-bg);
  padding: 0 1rem 1rem 1rem;
}
.currently-doing::before {
  content: "";
  height: 10px;
  width: 100%;
  position: absolute;
  background: var(--gradient);
  left: 0;
  bottom: -3px;
  z-index: -1;
}
.currently-doing .items {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.currently-doing .items * {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.currently-doing .items *::before {
  content: "";
  display: inline-block;
  height: 24px;
  transform: translateY(25%);
  aspect-ratio: 1;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.currently-doing .items *:nth-child(odd)::before {
  background: var(--pink1);
}
.currently-doing .items *:nth-child(even)::before {
  background: var(--blue1);
}

#Showcase {
  padding: 0;
  grid-auto-rows: minmax(200px, 250px);
}
#Showcase h2, #Showcase h2 + p {
  margin: 0;
}
#Showcase h2 {
  margin-top: 2rem;
}
#Showcase img {
  grid-row: span 3;
  height: 100%;
  background: #808080;
}

#Contact form fieldset {
  border: none;
  padding: 0;
  display: contents;
}
#Contact form legend {
  display: none;
}
#Contact input:not([type=submit]), #Contact label, #Contact textarea {
  display: grid;
  grid-column: span 6;
}
#Contact label {
  margin-top: 20px;
}
#Contact [type=submit] {
  margin-top: 20px;
}
#Contact [type=submit]:hover {
  cursor: pointer;
}
#Contact input, #Contact textarea {
  border: 1px solid var(--text-colour);
  background: transparent;
  color: var(--text-colour);
  padding: 12px;
  font-size: 20;
  resize: none;
  font-family: "Red Hat Text", sans-serif;
}
#Contact textarea {
  min-height: 250px;
}

.social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min-content;
  gap: 20px;
}
.social a {
  text-decoration: none;
  align-items: center;
}
.social p {
  text-decoration: none;
  color: var(--text-colour);
}
.social .large-text {
  margin: 1rem 0 0 0;
}
.social .small-text {
  margin: 0 0 1rem 0;
}
.social img {
  width: 100%;
}

section {
  display: grid;
  grid-template-columns: subgrid;
  gap: 20px;
  min-height: 100vh;
}

footer {
  height: calc(98vh - 5px);
  background: #121212;
  position: relative;
}
footer img {
  margin-top: 35vh;
}
footer > div {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}
footer a {
  margin-top: 33px;
  display: block;
  color: white;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer::before {
  content: "";
  height: 10px;
  width: 100%;
  position: absolute;
  background: var(--gradient);
  top: -3px;
  z-index: -1;
}/*# sourceMappingURL=main.css.map */