@mixin toWhite()
    filter: invert(100%) sepia(93%) saturate(27%) hue-rotate(105deg) brightness(105%) contrast(112%)
        
@keyframes fadeIn 
    from 
        opacity: 0
    to
        opacity: 1

@keyframes fadeOut 
    from 
        opacity: 1
    to
        opacity: 0
        display: none
    
[data-darkMode='1']
    --page-bg: #121212
    --text-colour: white
    --pink1: #F4A8B7 
    --pink2: #F4A8B7 
    --blue1: #5BCDF9 
    --gradient: linear-gradient(90deg, #5BCDF9 0%, #5BCDF9 20%, #F4A8B7 20%, #F4A8B7 40%, #FEFEFE 40%, #FEFEFE 60%, #F4A8B7 60%, #F4A8B7 80%, #5BCDF9 80%, #5BCDF9 100%)
    .accounts
        img
            @include toWhite()
    .theme-switch
        svg
            #sun
                scale: 50%
                rotate: 180deg
                z-index: -1
                opacity: 0
            *:not(#sun)
                translate: 2% 2%
                scale: 170%
            #lightSide
                fill: var(--text-colour)
                rotate: initial
                scale: 180%

[data-darkMode='0']
    --page-bg: #f6f6f6
    --text-colour: black
    --pink1: #D460A7 
    --pink2: #E4ADCD 
    --blue1: #57CEF8 
    --gradient: linear-gradient(90deg, #D460A7 0%, #D460A7 14.29%, #fff 14.3%, #fff 14.3%, #E4ADCD 14.31%, #E4ADCD 28.49%, #fff 28.5%, #fff 28.5%, #FFF 28.51%, #FFF 42.79%, #fff 42.8%, #57CEF8 42.8%, #57CEF8 57.09%, #FEFEFE 57.1%, #FFF 57.1%, #FFF 57.11%, #FFF 71.39%, #fff 71.4%, #E4ADCD 71.4%, #E4ADCD 85.68%, #E4ADCD 85.69%, #fff 85.7%, #fff 85.7%, #D460A7 85.71%, #D460A7 100%)


// utils
.center-text
    grid-column: span 12
    text-align: center

.align-right
    text-align: right

.large-text
    font-size: 32px
    font-style: normal
    font-weight: 400
    line-height: normal

// this class is already the default for the body so its superfluous to use it
// i will still leave it here tho
.normal-text
    font-size: 16px
    font-style: normal
    font-weight: 400
    line-height: 25px

@mixin normal-text()
    font-size: 16px
    font-style: normal
    font-weight: 400
    line-height: 25px

.small-text
    font-family: Red Hat Text
    font-size: 13px
    font-style: normal
    font-weight: 400
    line-height: normal

.color-grey
    color: var(--grey) !important

// the grid-column 1 us neant to be overwritten by a grid-start value
@for $i from 1 through 12  
    .span-#{$i}
        grid-column: 1 / span #{$i}

.subgrid
    display: grid
    grid-template-columns: subgrid
    grid-auto-rows: min-content

@for $i from 1 through 12  
    .grid-start-#{$i}
        grid-column-start: #{$i}

.hide
    animation: fadeOut 300ms forwards

.appear
    animation: fadeIn 300ms


// page styling

*    
    transition: 300ms background
    box-sizing: border-box

html
    scroll-behavior: smooth

body
    --grey: #808080
    background: var(--page-bg)
    color: var(--text-colour)
    font-family: 'Red Hat Text', sans-serif
    font-size: 16px
    font-style: normal
    font-weight: 400
    line-height: 25px
    display: grid
    margin: 0
    grid-template-columns: repeat(12, 1fr)

main, footer
    box-sizing: border-box
    --page-padding: 150px
    padding: 0 var(--page-padding)

nav
    position: sticky
    grid-column: span 12
    width: 100%
    z-index: 1000
    top: 0
    margin-bottom: 160px
    .navbar-collapse
        --element-padding: 2rem
        visibility: hidden
        position: absolute
        right: calc(var(--page-padding) - var(--element-padding))
        margin-top: calc(70px - var(--element-padding))
        background: var(--page-bg)
        border: 1px solid var(--text-colour)
        padding: var(--element-padding)
        width: 350px
        z-index: 2
        opacity: 0
        transition: 100ms visibility, 200ms opacity

    .show
        opacity: 1
        visibility: visible

    .navbar-toggler
        z-index: 3
        position: absolute
        right: var(--page-padding)
        background: transparent
        border: none
        margin-top: 70px
        cursor: pointer
        svg
            fill: var(--text-colour)
            overflow: visible
            filter: drop-shadow(0px 0px 2px var(--page-bg))

            

    .navbar-nav
        margin: 0
        padding: 0

    .theme-switch
        padding: 3px 0 0 0
        border: none
        background: transparent
        z-index: 3
        position: absolute
        right: calc(var(--element-padding) + 4px)
        top: calc( 130px - var(--element-padding) )
        cursor: pointer
        * 
            transform-origin: center

    li::marker
        content: ""
    a
        position: relative
        font-size: 32px
        font-style: normal
        font-weight: 300
        line-height: normal
        text-decoration: none
        color: var(--text-colour)
        opacity: 1
        &:hover
            text-decoration: underline
            text-decoration-thickness: 1px
    li
        margin-bottom: 1rem
        height: 42px

    [aria-expanded="true"]
        svg
            path:first-child
                rotate: 45deg
                translate: 20% -42%
            path:last-child
                translate: 115% 30%
                rotate: 135deg

// theme-switch styling
#sun
    fill: var(--text-colour)

#circle
    fill: var(--text-colour)

#lightSide
    rotate: -180deg
    
path
    transition: 300ms ease-out


section
    display: grid
    grid-template-columns: subgrid
    gap: 20px
    min-height: 100vh


#BackToTop
    // negative marger to make up for the nav height
    margin-top: -160px
    position: relative
    .hero
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        width: 100%
        & > *
            width: 100%
            text-align: center
        *
            margin: 0
        *:not(.normal-text)
            font-family: 'Red Hat Display', sans-serif
            font-weight: 300
            display: inline-block
            font-size: 80px
            text-transform: uppercase
            line-height: normal

.currently-doing
    position: relative
    background: var(--page-bg)
    padding: 0 1rem 1rem 1rem
    h2
        margin-top: 0
    &::before
        content: ""
        height: 10px
        width: 100%
        position: absolute
        background: var(--gradient)
        left: 0
        bottom: -3px
        z-index: -1
    .items
        padding: 0 1rem
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 20px
        *
            @include normal-text()
            display: flex
            align-items: center
            &::before
                content: ""
                display: inline-block
                height: 24px
                aspect-ratio: 1
                border-radius: 50%
                margin-right: .5rem
        *:nth-child(n)
            &::before
                background: var(--pink1)
            
        *:nth-child(2n)
            &::before
                background: var(--blue1)

        *:nth-child(3n)
            &::before
                background: var(--blue1)
        *:nth-child(4n)
            &::before
                background: var(--pink1)
                
.bio
    font-size: 18px
    margin-top: 4px
    text-align: justify
                

        
#Showcase
    padding: 1rem 0 0 0
    grid-auto-rows: minmax(200px, 250px)
    h2, h2 + p
        margin: 0
    a
        text-decoration: none
        color: var(--text-colour)
        &:hover
            text-decoration: underline
            text-decoration-thickness: 1px
    img
        grid-row: span 3
        height: auto
        align-self: center
        padding: 1rem
        width: 100%
        border: var(--text-colour) 1px solid        

#Contact
    padding-top: 1rem
    form
        fieldset
            border: none
            padding: 0
            display: contents
        legend
            display: none
    
    input:not([type="submit"]), label, textarea
        display: grid
        grid-column: span 6
    
    label
        margin-top: 20px

    [type="submit"]
        margin-top: 20px
        &:hover
            cursor: pointer
    
    svg
        margin-top: 25px
        // animation: name 3s infinite
        *
            transform-origin: center
            fill: var(--text-colour)
            opacity: 0


    input, textarea
        border: 1px solid var(--text-colour)
        background: transparent
        color: var(--text-colour)
        padding: 12px
        font-size: 20
        resize: none
        font-family: 'Red Hat Text', sans-serif
        
    textarea
        min-height: 250px

.accounts
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-auto-rows: min-content
    gap: 20px
    a, & > div
        text-decoration: none
        align-items: center

    p
        text-decoration: none
        color: var(--text-colour)
    a:hover
        .large-text
            text-decoration: underline
            text-decoration-thickness: 1px
    .large-text
        margin: 1rem 0 0 0

    .small-text
        margin: 0 0 1rem 0
    img
        width: 100%

footer
    height: calc( 99vh - 5px )
    background: #121212
    position: relative
    svg
        margin-top: 35vh
        filter: drop-shadow(0px 0px 4px #FFF)
    & > div
        margin-top: 10vh
        display: flex
        flex-direction: column
    a
        margin-top: 33px
        display: block
        color: white
        text-decoration: none
        &:hover
            text-decoration: underline
            text-decoration-thickness: 1px
    &::before
        content: ""
        height: 10px
        width: 100%
        position: absolute
        background: var(--gradient)
        top: -3px
        z-index: -1